.title{
    width: 50%;
}

.author{
    margin-left: 1%;
    width: 40%;
}

.format{
    margin-left: 2%;
}

.number{
    width: 10%;
}
.example-button-row {
    display: table-cell;
    max-width: 600px;
}